@model RedBadgeFinal.Models.ProviderDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProviderDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProvId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProvId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProvName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProvName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.ProvId  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
